@charset "utf-8";
.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 19px 80px;
    border: 1px solid #624d4d;
    border-radius: 73px;
    background: #9f7d7d;
    background: -webkit-gradient(linear, left top, left bottom, from(#9f7d7d), to(#ff874f));
    background: -moz-linear-gradient(top, #9f7d7d, #ff874f);
    background: linear-gradient(to bottom, #9f7d7d, #ff874f);
    text-shadow: #3d1414 -1px 0px 10px;
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;
	width:88%;
	font-size:75px;
	}
.button:hover,
.button:focus {
    border: 1px solid #7a6060;
    background: #bf9696;
    background: -webkit-gradient(linear, left top, left bottom, from(#bf9696), to(#ffa25f));
    background: -moz-linear-gradient(top, #bf9696, #ffa25f);
    background: linear-gradient(to bottom, #bf9696, #ffa25f);
    color: #ffffff;
    text-decoration: none;
}
.button:active {
    background: #624d4d;
    background: -webkit-gradient(linear, left top, left bottom, from(#624d4d), to(#ff874f));
    background: -moz-linear-gradient(top, #624d4d, #ff874f);
    background: linear-gradient(to bottom, #624d4d, #ff874f);
}
/* CSS Document */
.logout{
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    background-color:#FFEBCD;
    color: black;
    border: 2px solid #555555;
	border-radius: 50%;
	float:right;
}
.logout:hover {
    background-color:#A9A9A9;
    color:white ;
}


